@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=League+Gothic&family=Press+Start+2P&display=swap");


:root {
    --background-color: #202020;
    --color-general: #ffffff;
    --color-second: #C06BF5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
 }

body {
    background:var(--background-color);
    color: var(--color-general);
    font-family: 'League Gothic';
    width: 100vw;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    width: 0px;
}


header {
    display:flex ;
    width: 100vw;
    background-color: var(--background-color);
    position: relative;
    justify-content: space-between;
    font-family: 'Gothic A1';
    z-index: 2;
    
}

header h3 {
    font-size: 12px;
    margin: 7px 0 0 7px;
}

header .menu {
    position:  fixed ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 3px 0 0;
    background-color: var(--color-second);
    width: 50px;
    height: 50px;
    gap: 2px;

    top: -10px;
    right: -10px;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
    
    z-index: 2;
}

header .menu span {
    width: 22px;
    height: 2px;
    background-color: var(--color-general);
    border-radius: 10px;
}

header .menu-list {
    position: fixed;
    display: flex;
    width: 120px;
    height: 180px;
    padding: 20px 0 0 15px;
    background-color: var(--color-second);

    right:0px;
    border-radius: 0 0 0 20px;
    transition: 1s;
    transform: translatey(-100%);
    z-index: 1;
    
}

header .menu-list ul,a {
    list-style: none;
    color: var(--color-general);
    text-decoration: none;
    transition: .5s;

}

hr {
    margin: 10px 0 10px 0;
}

header .menu-list ul,a:hover {
    color: var(--background-color);
}
.menu.active {
    box-shadow: 0px 0px 0px 7px var(--background-color);
}

.menu-list.active {
    transform: translatey(0);
}


.section-home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section-home div {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 60px 0 0 4vw;
}

.section-home div h1 {
    font-size: 15vw;
}

.section-home div h1:nth-child(-n + 2) span {
    padding-left: 12vw;
}

.section-home div h1:nth-child(n + 2) span {
    color: var(--color-second);
}

.section-home div h1:last-child span {
    padding-left: 25vw;
}

.section-home img {
    position: absolute;
    width: 23vw;
    top: 80px;
    right: 0px;
    transform: rotate(20deg);
}

.section-home .carrossel {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 30px;
    gap:15px;
    color: #616161;
    font-family: "Press Start 2P";
}

.section-home .carrossel span {
    animation: rodaroda 5s linear 0s normal infinite;
}


.section-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.section-historia video {
    position: relative;
    width: 92vw;
    border-radius: 41px 0 41px 0;
    box-shadow: 5px -5px 0px .5px var(--color-second);
}

.section-historia h2 {
    font-size: 13vw;
    margin-top: 36vw;
    left: 7vw;
    position: absolute;
}

.section-historia p {
    text-align: justify;
    margin: 20px;
    width: 93vw;
}


.section-covens {
    position: relative;
    background-color: var(--color-second);
}

.section-covens h2 {
    position: absolute;
    margin-top: -17vw;
    left: 2vw;
    color: transparent;
    font-size: 13vw;
    -webkit-text-stroke: .5px;
    -webkit-text-stroke-color: var(--color-general);
}

.section-covens div {
    display: grid;
    grid-template-areas: "img img img";
    justify-content: space-around;
    
}

.section-covens div img:not(:nth-child(2)) {
    width: 20vw;
    margin: 3vw;
    cursor: pointer;
    animation: roda-eixo 3s infinite alternate;
}

.section-covens div img:nth-child(2) {
    width: 17vw;
    cursor: pointer;
    animation: roda-eixo 3s infinite alternate;
}


.section-personagens h2 {
    font-size: 13vw;
    margin: 0 0 10px 3vw
}

.section-personagens .scroll {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    padding: 5vw 5vw 5vw 0vw;
    gap: 10px;
}

.section-personagens .box-imagem {
    position: relative;
}

.section-personagens .scroll .box-imagem img {
    width: 85vw;
    margin:0 0 5vw 5vw;
    border-radius: 10vw 10vw 0 10vw;
    box-shadow: -1vw 1vw 0px 1vw var(--color-general);
}

.section-personagens .box-imagem span {
    position: absolute;
    margin-top: 47.8vw;
    right: 8vw;
    width: auto;
    height: auto;
    padding: 0 5vw 0 5vw;
    font-size: 6vw;
    background-color: var(--color-second);
    color: var(--color-general);
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.section-poder {
    position: relative;
    display: flex;
    flex-direction:column;
    overflow: hidden;
    margin: 4vw 0 10vw 0;
}


.section-poder div {
    width: 1000vw;
    font-size: 40vw;
    line-height: 35vw;
    word-spacing: -10px;
    animation: rodaroda 6s linear 0s normal infinite;
}

.section-poder img {
    position: absolute;
    width: 65vw;
    transform: translate(35%, 40%);
    /*animation: roda-eixo 2s linear infinite alternate;*/
}



.section-lugares h2 {
    margin-left: 3vw;
    color: transparent;
    font-size: 10vw;
    -webkit-text-stroke: .5px;
    -webkit-text-stroke-color: var(--color-general);
}

.section-lugares .scroll-analogico {
    display: flex;
    padding-bottom: 30px;
}

.section-lugares .scroll-analogico .seta {
    display: flex;
    width: 40vw;
    height: auto;
    background-color: var(--color-general);
    height: 55vw;
    align-items: center;
    justify-content: center;
    margin: 0 1vw 0 1vw;
    border-radius: 2vw;
    cursor: pointer;
}

.section-lugares .scroll-analogico .seta div {
    width: 0; 
    height: 0; 
    border-top: 3vw solid transparent;
    border-bottom: 3vw solid transparent; 
    border-right:3vw solid var(--color-second); 
}

.section-lugares .scroll-analogico .seta:last-child div {
   transform: rotate(180deg);
}

.section-lugares .scroll-analogico .box-img-analogico {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
}

.section-lugares .scroll-analogico .box-img-analogico div {
    position: relative;
}

.section-lugares .scroll-analogico img {
    width: 80vw;
    height: 55vw;
    border-radius: 20px;
}


.section-lugares .scroll-analogico .box-img-analogico h3 {
    position: absolute;
    bottom: 10px;
    left: 4vw;
    font-size: 8vw;
    color: var(--color-general);
}


footer {
    display: flex;
    padding-bottom: 7vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer #linha-footer {
    width: 90%;
    height: 1px;
    background-color: var(--color-general);
    margin: 0 0 20px 0;
}

footer .bth-footer {
    display: flex;
    gap: 2vw;
}

footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    border-radius: 50px;
    background-color: var(--color-second);
    cursor: pointer;
}

footer .name-footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    margin-top: 5vw;
}




/*  @KEYFRAMES  */

@keyframes rodaroda {
    from {
        transform: translate(0,0);
    }
    to {
        transform: translate(-100vw,0);
    }
}

@keyframes roda-eixo {
	100% { transform: rotate(-12grad);
    }
	0% {
		transform: rotate(12grad);
	}
}