@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=League+Gothic&family=Press+Start+2P&display=swap");


:root {
    --background-color: #202020;
    --color-general: #ffffff;
    --color-second: #C06BF5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
 }

body {
    background:var(--background-color);
    color: var(--color-general);
    font-family: 'League Gothic';
    width: 100vw;
    overflow-x: hidden;

}

::-webkit-scrollbar {
    width: 0px;
}


header {
    display:flex ;
    width: 100vw;
    background-color: var(--background-color);
    position: relative;
    justify-content: space-between;
    font-family: 'Gothic A1';
    z-index: 2;
    
}

header h3 {
    font-size: 12px;
    margin: 7px 0 0 7px;
}

header .menu {
    position:  fixed ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 3px 0 0;
    background-color: var(--color-second);
    width: 50px;
    height: 50px;
    gap: 2px;

    top: -10px;
    right: -10px;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
    
    z-index: 2;
}

header .menu span {
    width: 22px;
    height: 2px;
    background-color: var(--color-general);
    border-radius: 10px;
}

header .menu-list {
    position: fixed;
    display: flex;
    width: 120px;
    height: 180px;
    padding: 20px 0 0 15px;
    background-color: var(--color-second);

    right:0px;
    border-radius: 0 0 0 20px;
    transition: 1s;
    transform: translatey(-100%);
    z-index: 1;
    
}

header .menu-list ul,a {
    list-style: none;
    color: var(--color-general);
    text-decoration: none;
    transition: .5s;

}

hr {
    margin: 10px 0 10px 0;
}

header .menu-list ul,a:hover {
    color: var(--background-color);
}
.menu.active {
    box-shadow: 0px 0px 0px 7px var(--background-color);
}

.menu-list.active {
    transform: translatey(0);
}


.section-home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section-home div {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 60px 0 0 4vw;
}

.section-home div h1 {
    font-size: 15vw;
}

.section-home div h1:nth-child(-n + 2) span {
    padding-left: 12vw;
}

.section-home div h1:nth-child(n + 2) span {
    color: var(--color-second);
}

.section-home div h1:last-child span {
    padding-left: 25vw;
}

.section-home img {
    position: absolute;
    width: 23vw;
    top: 80px;
    right: 0px;
    transform: rotate(20deg);
}

.section-home .carrossel {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 30px;
    gap:15px;
    color: #616161;
    font-family: "Press Start 2P";
}


.section-home .carrossel span {
    animation: rodaroda 5s linear 0s normal infinite;
}


.section-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.section-historia video {
    position: relative;
    width: 92vw;
    border-radius: 41px 0 41px 0;
    box-shadow: 5px -5px 0px .5px var(--color-second);
}

.section-historia h2 {
    font-size: 13vw;
    margin-top: 36vw;
    left: 7vw;
    position: absolute;
}

.section-historia p {
    text-align: justify;
    margin: 20px;
    width: 93vw;
}


.section-covens {
    position: relative;
    background-color: var(--color-second);
}

.section-covens h2 {
    position: absolute;
    margin-top: -17vw;
    left: 2vw;
    color: transparent;
    font-size: 13vw;
    -webkit-text-stroke: .5px;
    -webkit-text-stroke-color: var(--color-general);
}

.section-covens div {
    display: grid;
    grid-template-areas: "img img img";
    justify-content: space-around;
    
}

.section-covens div img:not(:nth-child(2)) {
    width: 20vw;
    margin: 3vw;
    cursor: pointer;
    animation: roda-eixo 3s infinite alternate;
}

.section-covens div img:nth-child(2) {
    width: 17vw;
    cursor: pointer;
    animation: roda-eixo 3s infinite alternate;
}


.section-personagens h2 {
    font-size: 13vw;
    margin: 0 0 5px 3vw
}

.section-personagens .scroll {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    padding: 2vw 5vw 5vw 0vw;
    gap: 10px;
}

.section-personagens .box-imagem {
    position: relative;
}

.section-personagens .scroll .box-imagem img {
    width: 55vw;
    height: 100vw;
    object-fit: cover;
    object-position: center;
    margin:0 0 25px 20px;
    border-radius: 10vw 10vw 10vw 10vw;
    box-shadow: 0vw 6px 0px 8px var(--color-general);
}

.section-personagens .scroll .box-imagem:nth-child(11) img {
    object-position: -100px;
}

.section-personagens .scroll .box-imagem:nth-child(12) img {
    object-position: -250px;
}

.section-personagens .box-imagem span {
    position: absolute;
    margin-top: 100vw;
    right:12vw;
    width: 30vw;
    height: auto;
    padding: 0 5vw 0 5vw;
    font-size: 6vw;
    background-color: var(--color-second);
    color: var(--color-general);
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.section-poder {
    position: relative;
    display: flex;
    flex-direction:column;
    overflow: hidden;
    margin: 4vw 0 10vw 0;
}


.section-poder div {
    width: 1000vw;
    font-size: 40vw;
    line-height: 35vw;
    word-spacing: -10px;
    animation: rodaroda 6s linear 0s normal infinite;
}

.section-poder img {
    position: absolute;
    width: 65vw;
    transform: translate(35%, 40%);
    /*animation: roda-eixo 2s linear infinite alternate;*/
}


.section-lugares {
    background-color: var(--color-general);
    margin: 0 2vw 0 2vw;
    border-radius: 20px;
    margin-bottom: 15px
}

.section-lugares h2 {
    text-align: center;
    color: var(--background-color);
    font-size: 10vw;
    -webkit-text-stroke: .1px;
    -webkit-text-stroke-color: var(--color-general);
}

.section-lugares  .box-img-analogico{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 285vw;
}

.section-lugares .box-img-analogico div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
    width: 90vw;
    height: 55vw;
    transition: 1s;
}

.section-lugares .box-img-analogico div div:hover {
    width: 92vw;
    height: 57vw;
    margin: 10px 0 10px 0;
    transition: 1s;
}

.section-lugares div img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: 1s;
}

.section-lugares div img:hover {  
    box-shadow: 0px 0px 0px 4px var(--color-second);
    transition: 1s;
}

.section-lugares .box-img-analogico h3 {
    position: absolute;
    bottom: 10px;
    left: 4vw;
    font-size: 8vw;
    color: var(--color-general);
}


footer {
    display: flex;
    padding-bottom: 7vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer #linha-footer {
    width: 90%;
    height: 1px;
    background-color: var(--color-general);
    margin: 0 0 20px 0;
}

footer .bth-footer {
    display: flex;
    width: 100%;
    padding-left: 27%;
    justify-content: center;
    gap: 2vw;
}

footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    border-radius: 50px;
    background-color: var(--color-second);
    cursor: pointer;
    transition: 1s;
}

footer .social:hover {
    box-shadow: 0px 0px 0px 2px var(--color-general);
    transition: 1s;
}

footer .bth-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    width: 10vw;
    height: 10vw;
    border-radius: 50px;
    background-color: var(--color-general);
    cursor: pointer;
    transition: 1s;
}

footer .bth-top:hover {
    box-shadow: 0px 0px 0px 2px var(--color-second);
    transition: 1s;
}

footer .bth-top div {
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
    border-bottom: 3vw solid var(--color-second);
}

footer .name-footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    margin-top: 5vw;
}




/*  @KEYFRAMES  */

@keyframes rodaroda {
    from {
        transform: translate(0,0);
    }
    to {
        transform: translate(-100vw,0);
    }
}

@keyframes roda-eixo {
	100% { transform: rotate(-12grad);
    }
	0% {
		transform: rotate(12grad);
	}
}


                                                                                      
/*  @MIDIAQUERY  */

@media (min-width:490px) {

    .section-historia p {
        font-size: 1.2rem;
    }

    .section-personagens h2 {
        font-size: 10vw;
        margin: 0 0 1px 3vw
    }

    .section-personagens .scroll .box-imagem img {
        width: 45vw;
        height: 90vw;
    }

    .section-personagens .box-imagem span {
        margin-top: 90vw;
        right:12vw;
        width: 20vw;
    }
}

@media (min-width:600px) {

    .section-personagens h2 {
        font-size: 13vw;
        margin: 0 0 1px 3vw
    }

    .section-personagens .scroll .box-imagem img {
        width: 70vw;
        height: 50vw;
        border-radius: 50px;
    }

    .section-personagens .box-imagem span {
        margin-top: 50vw;
        right:14vw;
        width: 40vw;
    }

    .section-poder div {
        font-size: 30vw;
        line-height: 27vw;
    }
    
    .section-poder img {
        width: 55vw;
        transform: translate(50%, 30%);
    }
}

@media (min-width:800px) {
    
    .section-historia h2 {
        font-size: 9vw;
        margin-top: 40vw;
        left: 7vw;
    }

    .section-historia video {
        width: 90vw;
        box-shadow: 5px -5px 0px 2px var(--color-second);
    }

    .section-historia p {
        font-size: 1.5rem;
    }

    .section-covens h2 {
        font-size: 9vw;
    }


    .section-covens div {
        display: flex;
        flex-wrap: wrap;
        height: 35vw;
        justify-content: space-around;
        
    }

    .section-covens div img:not(:nth-child(2)) {
    
        width: 10vw;
        height: 10vw;
        
    }


    .section-covens div img:nth-child(2) {
        width: 9vw;
        height: 12vw;  
    }

    .section-covens div img:nth-child(2n-1):nth-child(n+1):nth-child(-n+5) {
        margin-top: 10vw;
    }
    
    .section-personagens h2 {
        font-size: 10vw;
        margin: 0 0 0 3vw
    }

    .section-personagens .scroll .box-imagem img {
        width: 65vw;
        height: 45vw;
    }

    .section-personagens .box-imagem span {
        margin-top: 45vw;
        right:14vw;
        width: 35vw;
    }

    .section-poder div {
        font-size: 22vw;
        line-height: 20vw;
    }
    
    .section-poder img {
        width: 40vw;
        transform: translate(85%, 40%);
    }

    

    .section-lugares .box-img-analogico {
        height: auto;
        padding-bottom: 1vw;
    }

    .section-lugares .box-img-analogico div{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .section-lugares .box-img-analogico div div:hover {
        margin: 0 0 0 0;
        transition: 1s;
    }

    .section-lugares .box-img-analogico div:nth-child(1) div{
        width: 30vw;
        height: 20vw;
    }

    .section-lugares .box-img-analogico div:nth-child(2) div{
        width: 46vw;
        height: 30vw;
    }

    .section-lugares .box-img-analogico h3 {
        bottom: 14px;
        left: 2vw;
        font-size: 3.5vw;
    }


    footer {
        padding-bottom: 5vw;
    }

    footer #linha-footer {
        margin: 0 0 50px 0;
    }
    
    footer .bth-footer {
        padding-left: 25%;
    }

    footer .social {
        width: 7vw;
        height: 7vw;
    }

    footer .social img {
        width: 3.2vw;
        height: 3.2vw;
    }

    footer .bth-top {
        width: 7vw;
        height: 7vw;
    }

    footer .bth-top div {
        border-left: 1.2vw solid transparent;
        border-right: 1.2vw solid transparent;
        border-bottom: 1.7vw solid var(--color-second);
    }

    footer .name-footer {
        font-size: 1vw;
        margin-top: 3vw;
    }

}

@media (min-width:1000px) {

    .section-home div {
        padding: 30px 0 0 4vw;
    }

    .section-home div h1 {
        line-height: 16vw;
    }

    .section-historia {
        flex-direction: row;
        margin-top: 60px;
        padding: 0 20px 0 20px;
    }
    
    .section-historia video {
        position: relative;
        width: 60vw;
    }
    
    .section-historia h2 {
        font-size: 7vw;
        margin-top: -28vw;
        left: 64vw;
    }
    
    .section-historia p {
        text-align: justify;
        margin: 20px;
        margin-top: 55px;
        font-size: 1.1rem;
        width: 50vw;
    }

    .section-personagens h2 {
        font-size: 8vw;
        margin: 0 0 0 3vw
    }

    .section-personagens .scroll .box-imagem img {
        width: 55vw;
        height: 35vw;
    }

    .section-personagens .box-imagem span {
        margin-top: 35vw;
        font-size: 4vw;
        right:14vw;
        width: 25vw;
    }

    .section-poder div {
        font-size: 20vw;
        line-height: 18vw;
    }
    
    .section-poder img {
        width: 40vw;
        transform: translate(85%, 30%);
    }

    .section-lugares .box-img-analogico div:nth-child(1) div{
        width: 30vw;
        height: 18vw;
    }

    .section-lugares .box-img-analogico div:nth-child(2) div{
        width: 46vw;
        height: 28vw;
    }

    .section-lugares h2 {
        font-size: 6vw;
    }

    footer {
        padding-bottom: 4vw;
    }
    
    footer .bth-footer {
        padding-left: 23.3%;
    }

    footer .social {
        width: 5vw;
        height: 5vw;
    }

    footer .social img {
        width: 3vw;
        height: 3vw;
    }

    footer .bth-top {
        width: 5vw;
        height: 5vw;
    }

    footer .bth-top div {
        border-left: 1vw solid transparent;
        border-right: 1vw solid transparent;
        border-bottom: 1.5vw solid var(--color-second);
    }

    footer .name-footer {
        margin-top: 3vw;
    }

}

@media (min-width:1200px) {

    .section-home div h1 {
        font-size: 13vw;
        line-height: 13vw;
    }

    .section-home img {
        position: absolute;
        width: 21vw;
        top: 40px;
        right: 0px;
        transform: rotate(20deg);
    }

    .section-historia p {
        font-size: 1.3rem;
    }

    .section-historia h2 {
        left: 63vw;
    }

    .section-personagens h2 {
        font-size: 8vw;
        margin: 0 0 0 3vw
    }

    .section-personagens .scroll .box-imagem img {
        width: 50vw;
        height: 30vw;
    }

    .section-personagens .box-imagem span {
        margin-top: 30vw;
        font-size: 4vw;
        right:14vw;
        width: 25vw;
    }

    .section-poder div {
        font-size: 18vw;
        line-height: 15vw;
    }
    
    .section-poder img {
        width: 30vw;
        transform: translate(120%, 35%);
    }

    .section-lugares .box-img-analogico div:nth-child(1) div{
        height: 17vw;
    }

    .section-lugares .box-img-analogico div:nth-child(2) div{
        height: 27vw;
    }
}

@media (min-width:1400px) {

    .section-historia p {
        font-size: 1.5rem;
    }
}