:root {
    --background-color: #202020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:var(--background-color);
}

img {
    width: 200px;
}